<div class="brick card border-danger bg-primary text-dark rounded-3">
    <img src="/test.png" alt="" class="card-img-top">
    <div class="card-header">
        Header
        <!--h5 class="card-header">Header</h5-->
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <h4 class="card-title">h4</h4>
        <h5 class="card-subtitle mb-2 text-muted">h5</h5>
        <p class="card-text">{{ .Summary }}</p>
        <a href="#" class="card-link">card-link</a>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">a</li>
        <li class="list-group-item">b</li>
        <li class="list-group-item">c</li>
    </ul>
    <div class="card-footer">
        Footer
    </div>
    <!--img src="/test.png" alt="" class="card-img-bottom"-->
</div>