<div class="container wall">
    <div class="row" data-masonry='{"percentPosition": true }'>
        {{ range $index, $post := .bricks }}

            {{ $styleurl := "" }}
            {{ $sizeurl := "" }}

            <!-- According to style -->
            {{ if eq .Params.style "normal" }}
                {{ $styleurl = "brick-styles/normal-brick.html" }}
            {{ else if eq .Params.style "imagetext" }}
                {{ $styleurl = "brick-styles/imagetext-brick.html" }}
            {{ else if eq .Params.style "image" }}
                {{ $styleurl = "brick-styles/image-brick.html" }}
            {{ else if eq .Params.style "whisper" }}
                {{ $styleurl = "brick-styles/whisper-brick.html" }}
            {{ else if eq .Params.style "horizontal" }}
                {{ $styleurl = "brick-styles/horizontal-brick.html" }}
            {{ else if eq .Params.style "display" }}
                {{ $styleurl = "brick-styles/display-brick.html" }}
            {{ else if eq .Params.style "diary" }}
                {{ $styleurl = "brick-styles/diary-brick.html" }}
            {{ else }}
                {{ $styleurl = "brick-styles/normal-brick.html" }}
            {{ end }}

            <!-- According to size -->
            {{ if eq .Params.size "sm" }}
                {{ $sizeurl = "brick-sizes/sm-size.html" }}
            {{ else if eq .Params.size "md" }}
                {{ $sizeurl = "brick-sizes/md-size.html" }}
            {{ else if eq .Params.size "lg" }}
                {{ $sizeurl = "brick-sizes/lg-size.html" }}
            {{ else if eq .Params.size "xl" }}
                {{ $sizeurl = "brick-sizes/xl-size.html" }}
            {{ else }}
                {{ $sizeurl = "brick-sizes/md-size.html" }}
            {{ end }}

            <!-- The pre-call -->
            <div class="col-1"></div>

            <!-- The call -->
            <div class='{{ partial $sizeurl }} {{ partial "brick-parts/gutter.html" }}'>
                {{ if eq .Params.draft true}}
                    {{ partial "brick-parts/draft-badge.html" }} 
                {{ end }}
                {{ partial $styleurl . }}
            </div>
        {{ end }}
    </div>
</div>