{{ if .home }}
{{ else }}
    {{ range (last 1 .bricks) }}
    {{ end }}
{{ end }}

<!-- Banner -->
{{ if not .home }}
    {{ $banner := (first 1 .banner) }}
    <div class="container wall">
        <div class="row justify-content-center pb-4">
            {{ range $index, $post := $banner }}
                {{ $styleurl := partial "wall-parts/with-style.html" (dict "context" . ) }}
                {{ $sizeurl := partial "wall-parts/with-size.html" (dict "context" . "enlarge" true ) }}
                
                <!-- The call -->
                <div class='{{ partial $sizeurl }} {{ partial "brick-parts/gutter.html" }} position-relative'>
                    {{ partial $styleurl . }}
                </div>
            {{ end }}
        </div>
    </div>
{{ end }}

<!-- Mais recente -->
{{ $recent := (where .bricks ".Params.draft" false | first 1) }}
{{ if len $recent | le 1 }}
    <div class="container wall">
        <h1 class="text-center pt-3 pb-0 m-0 text-uppercase" style="color: {{ .color }}"><i><b>{{ i18n "latest" }}</b></i></h1>
        <div class="row justify-content-center pb-4">
            {{ range $index, $post := $recent }}
                {{ $styleurl := partial "wall-parts/with-style.html" (dict "context" . ) }}
                {{ $sizeurl := partial "wall-parts/with-size.html" (dict "context" . "enlarge" true ) }}

                <!-- The call -->
                <div class='{{ partial $sizeurl }} {{ partial "brick-parts/gutter.html" }} position-relative'>
                    {{ partial "wall-parts/with-badges.html" (dict "context" . "post" $post "shownew" false ) }}
                    {{ partial $styleurl . }}
                </div>
            {{ end }}
        </div>
    </div>

    <hr class="my-4">
{{ end }}


<!-- Infos -->
{{ if .home }}
    {{ if len .infos | le 1 }}
        <div class="container wall">
            <h1 class="text-center pt-3 pb-0 m-0 text-uppercase" style="color: {{ .color }}"><i><b>{{ i18n "info" }}</b></i></h1>
            <div class="row" data-masonry='{"percentPosition": true }'>
                <!-- The pre-call -->
                <div class="col-1"></div>

                {{ range $index, $post := .infos }}
                    {{ $styleurl := partial "wall-parts/with-style.html" (dict "context" . ) }}
                    {{ $sizeurl := partial "wall-parts/with-size.html" (dict "context" . "enlarge" false ) }}
                    
                    <!-- The call -->
                    <div class='{{ partial $sizeurl }} {{ partial "brick-parts/gutter.html" }}'>
                        {{ partial "wall-parts/with-badges.html" (dict "context" . "post" $post "shownew" true ) }}
                        {{ partial $styleurl . }}
                    </div>
                {{ end }}
            </div>
        </div>

        <hr class="my-4">
    {{ end }}
{{ end }}

<!-- Drafts -->
{{ $drafts := (where .bricks ".Params.draft" true ) }}
{{ if len $drafts | le 1 }}
    <div class="container wall">
        <h1 class="text-center pt-3 pb-0 m-0 text-uppercase" style="color: {{ .color }}"><i><b>{{ i18n "draft" 2 }}</b></i></h1>
        <div class="row" data-masonry='{"percentPosition": true }'>
            <!-- The pre-call -->
            <div class="col-1"></div>

            {{ range $index, $post := $drafts }}
                {{ $styleurl := partial "wall-parts/with-style.html" (dict "context" . ) }}
                {{ $sizeurl := partial "wall-parts/with-size.html" (dict "context" . "enlarge" false ) }}

                <!-- The call -->
                <div class='{{ partial $sizeurl }} {{ partial "brick-parts/gutter.html" }}'>
                    {{ partial "wall-parts/with-badges.html" (dict "context" . "post" $post "shownew" true ) }}
                    {{ partial $styleurl . }}
                </div>
            {{ end }}
        </div>
    </div>

    <hr class="my-4">
{{ end}}
    
<!-- Todos os posts (sem drafts) -->
{{ $notdrafts := (where .bricks ".Params.draft" false ) }}
{{ if len $notdrafts | le 1 }}
    <div class="container wall">
        <h1 class="text-center pt-3 pb-0 m-0 text-uppercase" style="color: {{ .color }}"><i><b>{{ i18n "all" }}</b></i></h1>
        <div class="row" data-masonry='{"percentPosition": true }'>
            <!-- The pre-call -->
            <div class="col-1"></div>

            {{ range $index, $post := $notdrafts }}
                {{ $styleurl := partial "wall-parts/with-style.html" (dict "context" . ) }}
                {{ $sizeurl := partial "wall-parts/with-size.html" (dict "context" . "enlarge" false ) }}

                <!-- The call -->
                <div class='{{ partial $sizeurl }} {{ partial "brick-parts/gutter.html" }}'>
                    {{ partial "wall-parts/with-badges.html" (dict "context" . "post" $post "shownew" true ) }}
                    {{ partial $styleurl . }}
                </div>
            {{ end }}
        </div>
    </div>

    <hr class="my-4">
{{ end }}

{{ if len .bricks | eq 0 }}
    <h5 class="p-5 m-5 text-muted text-center"><i>it is very empty here...</i></h5>
{{ end }}