#single-content {
    span, p, li, ul, ol{
        color: #A3A7C2;
    }

    a, a span {
        color: $link-blue;
    }

    strong, b {
        color: $light;
    }

    h3, .h3, h3 *, .h3 *  {
        @include font-size($h1-font-size);
    }

    h4, .h4, h4 *, .h4 *  {
        @include font-size($h3-font-size);
    }

    h5, .h5, h5 *, .h5 *  {
        @include font-size($h4-font-size);
    }

    h6, .h6, h6 *, .h6 * {
        @include font-size($h6-font-size);
        color: $primary;
        font-weight: bold;
    }

    hr {
        color: $primary;
        margin: 3rem 0rem 0rem;
    }

    h3, h4, h5, h6, .h3, .h4, .h5, .h6 {
        padding-top: 1rem;
    }

    blockquote {
        border-left: 5px solid $light;
        margin: 1.5em 10px;
        padding: 0.5em 10px;
    }
    blockquote p {
        display: inline;
    }
}