<div class="brick card rounded-0 border-2" {{with .Params.color }}style="border-color: {{.}}"{{ end }}>
    {{ if .Params.topics }}
    <div class="card-header pt-4 pb-0 px-4 border-0 bg-dark {{ with .Params.headerClass }}{{ . }}{{ end }}">
        {{ range .Params.topics }}
            <a class="link-blue text-decoration-none" href="{{ urlize . | absLangURL  }}" {{with $.Params.color }}style="color: {{.}}"{{ end }}><b>/{{ . }}</b></a>
        {{ end }}
    </div>
    {{ end }}
    <div class="card-body pt-2 p-4">
        <a class="link-light text-decoration-sm" href="{{ .Permalink | absLangURL }}"><h4 class="display-4 card-title {{ with .Params.titleClass }}{{ . }}{{ end }}" style="{{ with .Params.textColor }}color: {{ . }}{{ end }}"><i>{{ .Title }}</i></h4></a>
        <p class="card-text {{ with .Params.summaryClass }}{{ . }}{{ end }}" style="{{ with .Params.textColor }}color: {{ . }}{{ end }}">{{ .Summary }}</p>
    </div>
    <div class="card-footer border-0 {{ with .Params.footerClass }}{{ . }}{{ end }}">
        <small class="text-muted">
            {{ $dateTime := .PublishDate.Format "2006-01-02 15:04 -0700" }}
            {{ $dateFormat := .Site.Params.dateFormat | default "15:04 - Jan 2, 2006" }}
            {{ .PublishDate.Format $dateFormat }}
        </small>
    </div>
</div>