<div class="brick card rounded-0 border-3" {{with .Params.color }}style="border-color: {{.}}"{{ end }}>
    <div class="row g-0" style="min-height: 250px">
        <div class="col-md-4 overflow-hidden bg-image"
        style='{{ if .Params.thumb }}
        {{ $image := $.Page.Resources.GetMatch .Params.thumb }}
        {{ .Scratch.Set "lowres-image" ($image.Fill "192x300 jpg q70") }}
        background-image: url({{ (.Scratch.Get "lowres-image").Permalink }})
        {{ end }}'>
        </div>
        <div class="col-md-8">
            <div class="card-body pt-3 p-4">
                {{ if .Params.topics }}
                {{ range .Params.topics }}
                <h6 class="card-title pt-2">
                    <a class="link-blue text-decoration-none" href="{{ urlize . | absLangURL  }}" {{with $.Params.color }}style="color: {{.}}"{{ end }}><b>/{{ . }}</b></a>
                </h6>
                {{ end }}
                {{ end }}

                <a class="text-uppercase link-light" href="{{ .Permalink | absLangURL }}"><h4 class="card-title {{ with .Params.titleClass }}{{ . }}{{ end }}" style="{{ with .Params.textColor }}color: {{ . }}{{ end }}"><i><b>{{ .Title }}</b></i></h4></a>
                <p class="card-text text-muted {{ with .Params.summaryClass }}{{ . }}{{ end }}" style="{{ with .Params.textColor }}color: {{ . }}{{ end }}">{{ .Summary }}</p>

                <small class="text-muted">
             
                    {{ $dateFormat := .Site.Params.dateFormat | default "15:04 - Jan 2, 2006" }}
                    {{ .PublishDate.Format $dateFormat }}
                </small>
            </div>
        </div>
    </div>
</div>