<div class="brick card rounded-0 bg-image border-2" style='{{with .Params.color }} border-color: {{.}} {{ end }}; {{ if .Params.thumb }}
{{ $image := $.Page.Resources.GetMatch .Params.thumb }}
{{ .Scratch.Set "modified-image" ($image.Fit "700x400 jpg q75 Lanczos Smart") }}
{{ .Scratch.Set "lowres-image" ($image.Fit "700x400 jpg q90") }}
background-image: url({{ (.Scratch.Get "lowres-image").Permalink }})
{{ end }}'>
    {{ if .Params.topics }}
    <div class="card-header pt-4 pb-0 px-4 border-0 {{ with .Params.headerClass }}{{ . }}{{ end }}">
        {{ range .Params.topics }}
            <a class="link-blue text-decoration-none text-shadow" href="{{ urlize . | absLangURL  }}" {{with $.Params.color }}style="color: {{.}}"{{ end }}><b>/{{ . }}</b></a>
        {{ end }}
    </div>
    {{ end }}
    <div class="card-body pt-2 p-4">
        <h4 class="text-uppercase link-light text-shadow card-title {{ with .Params.titleClass }}{{ . }}{{ end }}" style="{{ with .Params.textColor }}color: {{ . }}{{ end }}"><i><b>{{ .Title }}</b></i></h4>
        <p class="card-text text-shadow {{ with .Params.summaryClass }}{{ . }}{{ end }}" style="{{ with .Params.textColor }}color: {{ . }}{{ end }}">{{ .Summary }}</p>
    </div>
    <div class="card-footer border-0 {{ with .Params.footerClass }}{{ . }}{{ end }}">
        <small class="text-shadow">
            {{ $dateTime := .PublishDate.Format "2006-01-02 15:04 -0700" }}
            {{ $dateFormat := .Site.Params.dateFormat | default .Site.Language.Params.dateformat }}
            {{ .PublishDate.Format $dateFormat }}
        </small>
    </div>
</div>