<div class="brick card rounded-1 post-it border-3" {{with .Params.color }}style="border-color: {{.}}"{{ end }}>
    <div class="card-body pt-4 p-4">
        <h5 class="text-uppercase card-title {{ with .Params.titleClass }}{{ . }}{{ end }}" style="{{ with .Params.textColor }}color: {{ . }}{{ end }}"><i><b>{{ .Title }}</b></i></h5>
        <p class="card-text m-0 text-muted {{ with .Params.summaryClass }}{{ . }}{{ end }}" style="{{ with .Params.textColor }}color: {{ . }}{{ end }}">{{ .Content }}</p>
    </div>
</div>